<!doctype html>
<html lang="kr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/main.css">

    <title>Todolist</title>
</head>

<body style="padding-top:5rem">
    <%- include('nav.ejs') %>


        <!-- 검색결과 -->
        <div class="container">
            <h5 class="pb-2 mb-0 text-danger mt-5">검색결과입니다</h5>
            <div class="input-group mb-2">
                <input class="form-control" id="search-input" placeholder="검색어를 입력하세요.">
                <button class="input-group-append btn btn-danger" id="search">검색</button>
            </div>
            <ul class="list-group">
                <% for (var i=0; i < posts.length; i ++) { %>
                <li class="list-group-item">
                    <span class="mr-1"> 글번호: <%= posts[i]._id %></span>
                    <span class="d-flex justify-content-between text-gray-dark text-right">
                        <a style="font-size: 20px;" href="/detail/<%= posts[i]._id %>">
                            <%= posts[i].제목 %>
                        </a>
                        <span>
                            <%= posts[i].날짜 %><br>
                            <small class="text-muted">작성자: <%= posts[i].작성자 %></small>
                        </span>
                    </span>
                    <div class="btn-group mt-2 float-right">
                        <button class="btn btn-danger btn-sm" data-dismiss="true" data-id="<%= posts[i]._id %>">삭제</button>
                        <a href="/edit/<%= posts[i]._id %>" class="btn btn-outline-danger btn-sm">수정</a>
                        <button class="btn btn-success btn-sm chat" data-id="<%= posts[i].작성자 %>">채팅하기</button>
                    </div>
                </li>
                <% } %>
            </ul>    
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>